@media (max-width: 400px) {
  .pictures {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
  }

  .picture {
    width: 100px;
    height: 100px;
  }

  form {
    width: 65%;
    margin-top: 15px;
    font-size: 70%;
    margin: auto;
  }

  .form1,
  .form2 {
    width: 100%;
  }

  h1 {
    font-size: 80%;
  }

  .footer {
    font-size: 90%;
  }

  .footer-copy {
    font-size: 90%;
  }
}

@media (min-width: 400px) {
  .pictures {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }

  .picture {
    width: 220px;
    height: 200px;
  }

  form {
    width: 70%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    font-size: 80%;
  }

  .form1,
  .form2 {
    width: 50%;
  }

  h1 {
    font-size: 90%;
  }

  .footer {
    font-size: 90%;
  }

  .footer-copy {
    font-size: 90%;
  }
}

@media (min-width: 576px) {
  .underfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .icons-facebook-twitter {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 740px) and (max-width: 960px) {
  .undermain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 20px 100px 20px;
  }

  form {
    max-width: 300px;
    height: 382px;
    margin: 15px 10px;
  }

  .form1,
  .form2 {
    width: 50%;
  }

  .pictures {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .picture {
    width: 220px;
    height: 200px;
  }

  .footer {
    font-size: 100%;
  }

  .footer-copy {
    font-size: 100%;
  }

  .underfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .icons-facebook-twitter {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  form {
    max-width: 400px;
  }

  .picture {
    width: 250px;
    height: 230px;
  }

  .footer {
    font-size: 100%;
  }

  .underfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
